html{
    background-color: #B5D0FF;
    /*background-color: #D89FFF;*/
    font-family: 'Merriweather', serif;
}
/*#0D3973
 ailenterximess fenterlimesz mentersimesventerrsairimesober tenter aimober mufatchober graicimesais poberr enterstenter henterrmobersober dimesai y poberr senterr mimes menterjoberr aimimesgober y mimes fenterlimescimesdaid
 */
/*#08628A#4E7FBF*/
.orginal-message{
    /*border-radius: 1rem;*/
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #0D3973;
    background-color: rgba(255, 255, 255, 0.9);
    border: 0px solid #919191;  
	background: #ffffff; /* Fondo */
	border-radius: 6px;  /* Bordes redondos */
	box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -3px -3px 4px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
	text-shadow: 5px 5px 5px rgba(255,255,255,.9);  /* Sombra del texto */
    width: 50%;
    height: 10rem;
    /*max-height: 50%;*/
}
.orginal-message::placeholder{
    color: #627c9e;
    
}
.encripted-message{
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    color: #0D3973;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #919191; /* Color del borde, debe ser más oscuro que fondo */
	background: #ffffff; /* Fondo */
	border-radius: 6px;  /* Bordes redondos */
	box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
	text-shadow: 1px 1px 1px rgba(255,255,255,.9);
}
.sign{
    color: white;
    background-color: rgb(99, 99, 99);
    padding: 0 0.4rem;
    border-radius: 100%;
}
.alert{
    background-color: red;
    padding: 0.5rem 1rem;
    
}
#err1{
    display:inline-flex;
}